# Database connection string
#DATABASE_URI=postgres://bf_user:bfpass123@localhost:5432/bf_news

# Used to encrypt JWT tokens
PAYLOAD_SECRET=99e63c93d24f820af70c08d7

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
