@import '~@payloadcms/ui/scss';

.admin-bar {
  @include small-break {
    display: none;
  }

  // Hide "Payload CMS" text link
  #payload-admin-bar > a.text-white,
  #payload-admin-bar a.text-white[href*="/admin"] {
    display: none !important;
  }
}
